body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed;
    font-family: "Montserrat Alternates", sans-serif;
}

p {
    font-weight: bold;
    text-align: center;
    padding: 0px;
}

.header {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__title {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    padding: 10px 0px 0px 20px;
    margin: 0px;
    color: rgba(237, 242, 239, 01);
}

.container {
    min-height: calc(100vh - 200px);
}

.game {
    margin: 10px 0px;
    justify-content: center;
}

.game__title {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.game__choice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__choice--item {
    padding: 20px;
    margin: 0px 10px;
    width: 50px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px 2px rgba(29, 28, 28, 0.555);
    border-radius: 20px;
}

.game__choice--item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 11px;
    width: 48px;
    cursor: pointer;
}


.restart {
    color: white;
    background-color: black;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(29, 28, 28, 0.555);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.restart:hover {
    background-color: rgba(130, 11, 138, 0.8);
    cursor: pointer;
}

.score {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score__user {
    font-size: 40px;
    color: white;
}

.score--item {
    font-size: 50px;
    margin: 10px 80px;
    color: red;
    font-family: 'Lobster', monospace;
    text-align: center;
    line-height: 0px;
    width: 100px;
    height: 100px;
    border: 10px dotted #F5BB00;
}

.score__ia {
    font-size: 40px;
    color: white;
}

/* ------------------------------------------------------------------------ */

footer {
    color: #1e1e24;
    text-align: center;
    padding: .5rem 2rem;
}

footer .footer-top {
    color: #edf2ef;
    margin-top: .5rem;
}

footer .footer-top .copyright {
    margin-bottom: 0.6rem;
}

footer .footer-top .stories {
    color: #edf2ef;
}

footer .bottom-redes {
    margin-top: .5rem;
}

footer .bottom-redes a {
    text-decoration: none;
    padding: 0 0.5625rem;
    color: #edf2ef;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer .bottom-redes a i {
    font-size: 2rem;
}

footer .bottom-redes a:hover {
    color: #1e1e24;
}