body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed;
    font-family: "Montserrat Alternates", sans-serif;
}

p{
    font-weight: bold;
}

.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__title {
    width: 200px;
    margin-left: 12px;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: rgba(237, 242, 239, 01);
}

.container {
    min-height: calc(100vh - 200px);
}

.game {
    margin: 50px 0px;
    justify-content: center;
}

.game__title {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.game__choice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__choice--item {
    padding: 20px 20px;
    margin: 0px 10px;
    width: 70px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px 2px rgba(29, 28, 28, 0.555);
    border-radius: 20px;
}

.game__choice--item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 11px;
    width: 68px;
    cursor: pointer;
}

.score {
    margin: 0px 100px;
    padding: 0px 50px;
    border: 2px solid white;
    box-shadow: 5px 5px 10px 2px rgba(29, 28, 28, 0.555);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score__user{
    font-size: 50px;
}

.score__board{
    display: flex;
    font-size: 50px;
}

.score--item {
    text-align: center;
    line-height: 0px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    /* box-shadow: 5px 5px 10px 2px rgba(29, 28, 28, 0.555); */
}

.score__pc{
    font-size: 50px;
}

/* ------------------------------------------------------------------------ */

footer {
    /* background: #f24333; */
    color: #1e1e24;
    text-align: center;
    padding: .5rem 2rem;
}

footer .footer-top {
    color: #edf2ef;
    margin-top: .5rem;
}

footer .footer-top .copyright {
    margin-bottom: 0.6rem;
}

footer .footer-top .stories {
    color: #edf2ef;
}

footer .bottom-redes {
    margin-top: .5rem;
}

footer .bottom-redes a {
    text-decoration: none;
    padding: 0 0.5625rem;
    color: #edf2ef;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer .bottom-redes a i {
    font-size: 2rem;
}

footer .bottom-redes a:hover {
    color: #1e1e24;
}